@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Space+Mono&display=swap');


/* font-family: 'League Gothic', sans-serif; */
/* font-family: 'Space Mono', monospace; */




:root {
  --bg-dark-gray: #3E3E3E;
  --bg-light-gray: #D9D9D9;
  --bg-purple: #37366A;
  --bg-blue: #000D87;

  
  --ff-space: 'Space Mono', monospace;
}


.ff-space {
  font-family: var(--ff-space);
}

@font-face {
  font-family: "league gothic";
  src: url(../../public/fonts/LeagueGothic-Regular-VariableFont_wdth.ttf);
}

.ff-league {
  font-family: "league gothic";
}
